h1, h2, h3 {
  text-align:centr;
}
main {
  background-color:white;
}
nav a {
  background-color:red;
  color:white;
  padding:5px;
  margin:5px;
  text-decoration:none;
  border-radius:5px;
  
}
body , main {
  background-color: black;
  color: white;
}
img {
  height:300px;
  width:300px;
}
p {
  font-size:30px
}
